.sidebar-offcanvas {
    display: none;
}

.navbar-toggle {
    top: 12px;
    right: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
    border: none;
    padding: 0;
    z-index: 123;
    position: absolute;
    background: none;

    &:before {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
    }

    &:hover,
    &:focus {
        outline: none;
    }

    @include breakpoint($offcanvas-break) {
        display: none;
    }
}

.active-offcanvas .navbar-toggle {
    &::before {
        content: '';
    }

    .hamburger {
        background: none;

        &::before {
            top: 0;
            transform: rotate(-45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(45deg);
		}

		&::before,
		&::after {
			transition-delay: 0s, 0.2s;
		}
    }
}

@include breakpoint(0 $offcanvas-break) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .banner {
        min-height: 1px;
    }

    .row-offcanvas {
        height: 100%;
        margin: 0;
        position: relative;
        transform: none;
        z-index: -1;
	}

	.banner,
	.row-offcanvas {
		transition: transform 0.3s ease-out;
	}

	.sidebar-offcanvas {
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        margin: 0;
        display: block;
        padding: 0;
        overflow: auto;
        position: fixed;
        min-height: 100vh;
        transform: none;
        transition: all 0.3s ease-out;
    }

	.active-offcanvas {
        overflow: hidden;

		.banner,
		.row-offcanvas.right  {
            transform: translateX(-250px);
        }

		.row-offcanvas.right {
			z-index: -1;
		}

        .sidebar-offcanvas {
            right: 0;
		}
    }
}
