build
dist
vendor
wp-content
node_modules

.env
.cache-loader
yarn.lock
composer.lock
npm-debug.log
yarn-error.log

# ignore Visual Studio Code FTP setup folder
.vscode

# don't commit local config
src/config-local.json
src/config-local.js

# OSX Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes