*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: #000;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
